<h1>업데이트!!!!!!!!!!</h1></h1>
<form action="/post/update/<%=@post.id%>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목: <input type="text" name="input_title" value ="<%=@post.title%>"> </input><br>
    내용: <textarea type = "text" name="input_content" ><%=@post.content%> </textarea><br>
    <input type="submit" name="입력!"></br>
</form>
