<h1>글 쓰 는 곳 이 야</h1>
<form action="/post/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목: <input type="text" name="input_title"> </input><br>
    내용: <textarea type = "text" name="input_content"> </textarea><br>
    <input type="submit" name="입력!"></br>
</form>
