<h1>첫화면 입니다 하하하</h1>
<h2> 나나나나나나</h2>

<form action="/attack" method="get">
  공격자: <input type="text" name="userA"><br>
  방어자: <input type="text" name="userB"><br>
  <input type="submit" >
</form>



<form action="/defense" method="get">
  공격자: <input type="text" name="userA"><br>
  방어자: <input type="text" name="userB"><br>
  <input type="submit" value="방어">
</form>